<div class="name"><%= @user.name %></div>
<div class="email"><%= @user.email %></div>
<div class="image_name"> 
<img src="<%= "/user_images/#{@user.image_name}" %>">
</div>
<%= link_to("user edit","/users/#{@user.id}/edit") %>