header li{
	float: left;
	border-bottom: 3px solid black;
	list-style: none;
	padding: 20px 20px 0 20px;
}
.title h1,p,h2 {
position: relative;
top: 100px;
}
.posts-index-item{
	position: relative;
top: 100px;
}
